<!-- Config file for the game -->

<config>
  <app mustCap="true" fpsCap="30">
    <name>Get Hooked v0.4</name>
    <organization>UPC</organization>
    <save>save_game.xml</save>
    <load>save_game.xml</load>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="576" height="900" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <audio volume="100">
    <music volume="80">
      <folder>audio/music/</folder>
      <menus>
        <mainMenu></mainMenu>
      </menus>
      <maps>
        
      </maps>
    </music>
    <sfx volume="100">
      <folder>audio/fx/</folder>
      <ui>
        <button>Button.wav</button>
      </ui>
      <entities>
        
      </entities>
    </sfx>
  </audio>

   <gui>
     <atlas file="Assets/gui/Atlas1.6.png"/>
     <logo file=""/>
     
  </gui>

  <fonts>
    <folder>fonts/</folder>    
    <defaultFont file="open_sans/OpenSans-Regular.ttf" size="10" />
    
  </fonts>

  <map>
    <folder>Assets/maps/</folder>
  </map>

  <scenes>
    <sprites file="textures/pieces.png">
      <lightRed x="0" y="0" r="" g="" b="">lightRed</lightRed>
      <orange x="30" y="0" r="" g="" b="">orange</orange>
      <yellow x="60" y="0" r="" g="" b="">yellow</yellow>
      <lightGreen x="90" y="0" r="" g="" b="">lightGreen</lightGreen>
      <green x="120" y="0" r="" g="" b="">green</green>
      <greenBlue x="0" y="30" r="" g="" b="">greenBlue</greenBlue>
      <cyan x="30" y="30" r="" g="" b="">cyan</cyan>
      <lightBlue x="60" y="" r="" g="" b="">lightBlue</lightBlue>
      <blue x="90" y="30" r="" g="" b="">blue</blue>
      <darkBlue x="120" y="30" r="" g="" b="">darkBlue</darkBlue>
      <darkPurple x="0" y="60" r="" g="" b="">darkPurple</darkPurple>
      <purple x="30" y="60" r="" g="" b="">purple</purple>
      <lightPurple x="60" y="60" r="" g="" b="">lightPurple</lightPurple>
      <pink x="90" y="60" r="" g="" b="">pink</pink>
      <red x="120" y="60" r="" g="" b="">red</red>
      <gray x="120" y="30" r="" g="" b="">gray</gray>
    </sprites>
    <sceneintro>
      <map>Map0.4.tmx</map>Map0.4.tmx
      <camera x="0" y ="0" />
      <audio>Main_Menu_Music.ogg</audio>
      <animations>
        <plane loop ="true" speed="15.0f">
          <frame x="6" y="97" w="38" h="33"/>
          <frame x="39" y="97" w="34" h="33"/>
          <frame x="74" y="97" w="38" h="33"/>
          <frame x="114" y="97" w="34" h="33"/>
          <frame x="148" y="97" w="34" h="33"/>
          <frame x="179" y="97" w="34" h="33"/>
          <frame x="212" y="97" w="44" h="33"/>
          <frame x="256" y="97" w="36" h="33"/>
        </plane>
      </animations>
    </sceneintro>
    <scene1>
      <map>Map1.3.tmx</map>Map1.3.tmx
      <camera x="0" y ="0" />
      <audio>The_Waters_Cleansed.ogg</audio>
    </scene1>
    <scene2>
      <map>Map2.1.tmx</map>
      <camera x="0" y ="0" />
      <audio>Naru_Embracing_the_Light.ogg</audio>
    </scene2>
  </scenes>

</config>