<!-- Config file for the game -->

<config>
  <app mustCap="true" fpsCap="30">
    <name>1010!</name>
    <organization>UPC - CODE</organization>
    <save>save_game.xml</save>
    <load>save_game.xml</load>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="576" height="900" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>
  
  <audio volume="100">
    <music volume="80">
      <folder>audio/music/</folder>
      <menus>
        <mainMenu></mainMenu>
      </menus>
      <maps>
        
      </maps>
    </music>
    <sfx volume="100">
      <folder>audio/fx/</folder>
      <brick_destroyed>brick_destroyed.wav</brick_destroyed>
      <button_hover_start>button_hover_start.wav</button_hover_start>
      <button_pressed>button_pressed.wav</button_pressed>
      <piece_dropped>piece_dropped.wav</piece_dropped>
      <piece_picked>piece_picked.wav</piece_picked>
      <ui>
        <button>Button.wav</button>
      </ui>
      
    </sfx>
  </audio>

   <gui>
     <atlas file="Assets/gui/Atlas1.6.png"/>
     <logo file=""/>
  </gui>

  <fonts>
    <folder>fonts/</folder>    
    <defaultFont file="open_sans/OpenSans-Regular.ttf" size="10" />
    
  </fonts>

  <map>
    <folder>Assets/maps/</folder>
  </map>

  <scenes start="0">
    <ui>
      <!-- Default -->
      <panel x="294" y="760" w="159" h="38" />
      <window x="21" y="453" w="226" h="318" />
      <button x1="317" y1="585" w1="101" h1="40" x2="317" y2="626" w2="101" h2="40" x3="317" y3="667" w3="101" h3="40" x4="317" y4="707" w4="101" h4="40"/>
      <checkButton x1="273" y1="519" w1="34" h1="34" x2="273" y2="484" w2="34" h2="34" x3="273" y3="449" w3="34" h3="34"/>
      <!-- Specific -->
      <exit x1="258" y1="625" w1="32" h1="32" x2="258" y2="625" w2="32" h2="32" x3="258" y3="658" w3="32" h3="32" x4="258" y4="658" w4="32" h4="32"/>
      <shutDown x1="258" y1="556" w1="32" h1="32" x2="258" y2="556" w2="32" h2="32" x3="258" y3="590" w3="32" h3="32" x4="258" y4="590" w4="32" h4="32"/>
      <settings x1="258" y1="692" w1="32" h1="32" x2="258" y2="692" w2="32" h2="32" x3="258" y3="725" w3="32" h3="32" x4="258" y4="725" w4="32" h4="32"/>
      <back x1="258" y1="759" w1="32" h1="32" x2="258" y2="759" w2="32" h2="32" x3="258" y3="792" w3="32" h3="32" x4="258" y4="792" w4="32" h4="32"/>
      <webpage x1="324" y1="305" w1="32" h1="32" x2="324" y2="305" w2="32" h2="32" x3="324" y3="305" w3="32" h3="32" x4="324" y4="305" w4="32" h4="32" />
    </ui>
    <pieces file="textures/pieces.png">
      <lightRed x="0" y="0" r="" g="" b="">lightRed</lightRed>
      <orange x="30" y="0" r="" g="" b="">orange</orange>
      <yellow x="60" y="0" r="" g="" b="">yellow</yellow>
      <lightGreen x="90" y="0" r="" g="" b="">lightGreen</lightGreen>
      <green x="120" y="0" r="" g="" b="">green</green>
      <greenBlue x="0" y="30" r="" g="" b="">greenBlue</greenBlue>
      <cyan x="30" y="30" r="" g="" b="">cyan</cyan>
      <lightBlue x="60" y="" r="" g="" b="">lightBlue</lightBlue>
      <blue x="90" y="30" r="" g="" b="">blue</blue>
      <darkBlue x="120" y="30" r="" g="" b="">darkBlue</darkBlue>
      <darkPurple x="0" y="60" r="" g="" b="">darkPurple</darkPurple>
      <purple x="30" y="60" r="" g="" b="">purple</purple>
      <lightPurple x="60" y="60" r="" g="" b="">lightPurple</lightPurple>
      <pink x="90" y="60" r="" g="" b="">pink</pink>
      <red x="120" y="60" r="" g="" b="">red</red>
      <gray x="120" y="30" r="" g="" b="">gray</gray>
    </pieces>
    <sceneintro>
      <map>Map0.4.tmx</map>Map0.4.tmx
      <camera x="0" y ="0" />
      <audio>Main_Menu_Music.ogg</audio>
      <animations>
        <plane loop ="true" speed="15.0f">
          <frame x="6" y="97" w="38" h="33"/>
          <frame x="39" y="97" w="34" h="33"/>
          <frame x="74" y="97" w="38" h="33"/>
          <frame x="114" y="97" w="34" h="33"/>
          <frame x="148" y="97" w="34" h="33"/>
          <frame x="179" y="97" w="34" h="33"/>
          <frame x="212" y="97" w="44" h="33"/>
          <frame x="256" y="97" w="36" h="33"/>
        </plane>
      </animations>
    </sceneintro>
    <scene1>
      <map>Map1.3.tmx</map>Map1.3.tmx
      <camera x="0" y ="0" />
      <audio>The_Waters_Cleansed.ogg</audio>
    </scene1>
    <scene2>
      <map>Map2.1.tmx</map>
      <camera x="0" y ="0" />
      <audio>Naru_Embracing_the_Light.ogg</audio>
    </scene2>
  </scenes>

</config>